/* work sans font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700;800&display=swap');

/* shared style */
* {
    font-family: 'Work Sans', sans-serif;
}
.btn-primary{
    border-radius: 8px;
background: #FF900E; 
padding: 20PX 25px;
color: #FFF;
text-align: center;
font-size: 20px;
font-weight: 600; 
cursor: auto;
border: 0;
}

/*Header styles */
header {
    background: rgba(255, 144, 14, 0.10); 
    padding: 50px 240px;
    
}
nav title {
    color: var(--Dark-01, #131313);
font-size: 50px;
font-style: normal;
font-weight: 700;
line-height: normal; 
    
}
nav{
    display: flex;
    justify-content: space-between;
}
nav > ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 30px ;
    font-size: 18px;
font-weight: 500;

}
nav li a{
    text-decoration: none;
    color: #424242;
}

/* banner styles */
.banner-content{
    max-width: 800px;
    text-align: center;
    margin: 0% auto;
}
.banner-title{
    color: var(--Dark-01, #131313);
font-size: 64px;
font-weight: 700;
}
.banner-description{
color: var(--Dark-03, #727272);
font-family: Wok Sans;
font-size: 16px;
font-weight: 400; 
}